# A Dataset in R
R has a Variety of built-in small datsets for you to experiment with, for example, opening up R, you can just type in: mtcars, and that will show you some variables and observations. The command below show sthe first 5 rows of dataset **mtcars**

In [28]:
head(mtcars, 5)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

# Population and Sample

## A Poluation of 52 and a Sample of 10
There are 52 students in a class, I am interested in how many of your go to games at the University, and how many years each of you has lived in the city of Houston. But I do not have time to ask each of you questions. 

- My population is all 52 students in the class. 
- Given my limited time and resources, I will gather a sample of just 10 students. 

Gathering information regarding game attendance for the 10 students, I can perhaps gain some insights about the population. 

## Random Sample

I can just point and pick 10 *random* people, but how do I know I am choosing picking randomly? In general, we want to pick a random sample from the population. You don't want your sample of 10 to just be students in the first row, or students who happen to be giving eye contacts. We want a random sample that hopefully gives us some representative information about the population of 52 students. 

How do you pick random numbers?

Siri, Alexa, Google, ..., you can get random numbers very easily now. You can download various apps also that allows you to draw a random integer from say between 1 to 4, with equal chance of drawing any of the four numbers. 

In our class:
- we have 4 rows of seats
- we have 13 columns of seats
- there are 52 students in the class together. I will now randomly pick between 1 and 4, 10 times, and randomly pick between 1 and 13 also 10 times. 

This gives me ten pairs of row and columns numbers, and these indicate which 10 students will be a part of randomly drawn sample of students.

In [29]:
# in R, draw integers between 1 and 4, 10 times
sample(1:4, 10, replace = TRUE)
# in R, draw integers between 1 and 13, 10 times
sample(1:13, 10, replace = TRUE)

 [1] 4 1 1 2 2 4 1 1 3 3

 [1]  1  8  8  5  5 11  4 12  9  5

# In Class Survey with N = 10

R has *base* packages. Many of R's best packages do not come with the base packages. You have to install separately. One of the best packages for data science is [tidyverse](https://www.tidyverse.org/). **Tidyvers** has a great package called [tibble](https://tibble.tidyverse.org/) which is a great way to deal with what are called dataframes, where we store our data.

Sequentially, in class, we ask each of the 10 randomly drawn students a number of questions, and record the answers in the dataframe.

In [30]:
# Install Tibble inside RStudio for Example by installing Tidyverse: install.packages("tidyverse")
library(tibble)

In [33]:
# Create an empty Tibble, which is a type of dataframe
in_class_survey <- tibble(ID = integer(), ROW = integer(), COL = integer(), 
                          gender = factor(),
                          years.in.houston = double(),
                          major = factor(),
                          commute = factor(),
                          games.attended = integer())

# Let's define the Categories for the Categorical/Discrete Variables that We have
in_class_survey$gender <- factor(in_class_survey$gender, levels = c('MALE', 'FEMALE', 'NA'))
in_class_survey$major <- factor(in_class_survey$major, levels = c('ECON', 'HEALTH', 'PSYCHOLOGY' ,'CONSUMER SCIENCE', 'NA'))
in_class_survey$commute <- factor(in_class_survey$commute, levels = c('YES', 'NO', 'NA'))

# Ask Students Questions and Record Answers
in_class_survey[1,] <- c(1, 3, 10, 'MALE', 21.0, 'ECON', 'YES', 0)
in_class_survey[2,] <- c(2, 1, 12, 'FEMALE', 21.0, 'HEALTH', 'YES', 2)

[1] "MALE"   "FEMALE" "NA"

  ID ROW COL gender years.in.houston major commute games.attended
1 1  3   10  MALE   21               ECON  YES     0